<h1>Search for a city!!</h1>

<form  action="/results" method="get">
  <input type="text" name="name" placeholder="city name">
  <input type="text" name="state" placeholder="state name">
  <input type="submit"  value="Search">
</form>
